@import './../../../styles/utils/mixins';
@import './../../../styles/base/colors';

$loader-bg-color: $color--white-violet;
$loader-spinner-color: $color--violet;
$loader-spinner-width: 6px;
$loader-size: 50px;
$loader-duration: 1.5s;

.loader {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;

  &__wrapper {
    margin: 0 auto;
    padding: 100px;
    width: 100%;
    text-align: center;
  }

  &__spinner {
    display: inline-block;
    width: $loader-size;
    height: $loader-size;
    border: $loader-spinner-width solid $loader-bg-color;
    border-top: $loader-spinner-width solid $loader-spinner-color;
    border-radius: 50%;
    animation: spin $loader-duration linear infinite;
  }

  &__label {
    @include visually-hidden;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
